name: Daily Commit

on:
  schedule:
    - cron: "30 4 * * *"   # 10:00 AM IST
  workflow_dispatch:

jobs:
  daily-update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Update file
        run: |
          echo "Active on $(date)" > status.txt

      - name: Commit changes
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add status.txt
          git commit -m "Daily activity" || echo "No changes"

      - name: Push
        run: git push
